/* h1{
    background-color: red;
    height: 80px;
}
p{
    font-size: larger;
    background-color: aquamarine;
}
@media (orientation: portrait){

    p{
        font-size: 30px;
        background-color: darkorange;
    }
    
} */
nav{
    
}
nav ul{
    display:flex;
    flex-direction: row;
    gap: 10px;
    background-color: aquamarine;
    /* width: 100%; */
    padding: 30px;
    font-size: large;

}
li{
    list-style:none;
    cursor: pointer;

}
li:hover{
    background-color: cadetblue;
}
h2{
    display: none;
}
i{
    display: none;
}
@media (max-width: 500px){
    nav ul{
        display:flex;
        flex-direction: column;   
    }
    h2{
        display: block;
    }
    nav i{
        display: block;
    }
}

@media (max-width: 600px){
    nav ul{
        background-color: cornflowerblue; 
    }
}

/* bootstrap */

.container-sm{
    background-color: blueviolet;
}